{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur la page d'accueil !</h1>

<img alt="Logo" src="./image/Capture.JPG" >

{% endblock %}

{% block javascripts %}
    <img alt="Logo" src="./image/Capture.JPG" >
{% endblock %}